body {
  margin: 20px;
  font-family: Arial;
  padding:20px;
  background-color: #ffe9ac;
  background-clip:padding-box;
  padding-bottom:250px;
}
img {
border-radius : 5px;
float:left;
padding: 10px;
padding-left: 10px;
}

.pool:link {
  overflow: hidden;
  font-size:20px;
  text-decoration:none;
  color: darkblue;
}
.pool:hover{
text-decoration:overline underline;
padding:5px;
}

.pool:link {
    overflow: hidden;
    font-size:20px;
    text-decoration:none;
    color: darkblue;
  }
  .pool:hover{
text-decoration:overline underline;
padding:5px;
  }
  p{
    padding-left:10px;
max-width:75%;
word-wrap:break-word;
 
  }
  
  .padded{
    margin-top:0px;
    margin-bottom:0px;
margin-left:50px;
padding-top:10px;
padding-bottom:50%;
padding-right:50px;
padding-left:10px;
background: white;
    border-radius : 5px;
    background-clip: padding-box;
  }

  @media screen and (max-width: 800px) {
img{
  max-width:300px;
}

  }

hr{
  border-width:3px; 
  color: darkblue;
border-radius: 5px;
}